@using System.Web.UI.WebControls
@model htbox.ViewModels.CMS.HomePage

@{
}

@section hero {
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="jcarousel">
            <ul>
                <li><img src="/upload/carousel/ht-hero (1).jpg" style="width:375px"/></li>
                <li><img src="/upload/carousel/ht-hero (2).jpg" style="width:888px"/></li>
                <li><img src="/upload/carousel/ht-hero (3).jpg" style="width:888px"/></li>
                <li><img src="/upload/carousel/ht-hero (4).jpg" style="width:332px"/></li>
                <li><img src="/upload/carousel/ht-hero (5).jpg" style="width:666px"/></li>
                <li><img src="/upload/carousel/ht-hero (6).jpg" style="width:666px"/></li>
                <li><img src="/upload/carousel/ht-hero (7).jpg" style="width:666px"/></li>
                <li><img src="/upload/carousel/ht-hero (8).jpg" style="width:666px"/></li>
                <li><img src="/upload/carousel/ht-hero (9).jpg" style="width:666px"/></li>
                <li><img src="/upload/carousel/ht-hero (10).jpg" style="width:666px"/></li>
                <li><img src="/upload/carousel/ht-hero (11).jpg" style="width:750px"/></li>
                <li><img src="/upload/carousel/ht-hero (12).jpg" style="width:333px"/></li>
                <li><img src="/upload/carousel/ht-hero (13).jpg" style="width:333px"/></li>
                <li><img src="/upload/carousel/ht-hero (14).jpg" style="width:750px"/></li>
                <li><img src="/upload/carousel/ht-hero (15).jpg" style="width:750px"/></li>
            </ul>
        </div>
        <div class="container">
            <div class="hero-bg"></div>
            <div class="hero-content">
                <img src="/upload/home/ht-hero.png" class="img-responsive" style="padding-bottom: 20px"/>
                @Html.Raw(Model.Text)
                <p><a class="btn btn-primary btn-lg" href="/sign-up">Sign Up Now &raquo;</a></p>
            </div>
        </div>
    </div>
}


<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-4">
        <h3>@Model.SubHeading1</h3>
        <p>@Model.SubBody1</p>
    </div>
    <div class="col-lg-4">
        <h3>@Model.SubHeading2</h3>
        <p>@Model.SubBody2</p>
    </div>
    <div class="col-lg-4">
        <h3>@Model.SubHeading3</h3>
        <p>@Model.SubBody3</p>
    </div>
</div>

@section footer {
    <div class="row">
        <div class="col-xs-12 col-md-2"><p class="text-muted">In Partnership With:</p></div>
        <div class="col-xs-4 col-md-2"><a href="http://www.nethope.org"><img src="/upload/partners/nethope.png" alt="NetHope" class="img-responsive"/></a></div>
        <div class="col-xs-4 col-md-2"><a href="http://www.gwob.org"><img src="/upload/partners/gwob.png" alt="Geeks Without Borders" class="img-responsive"/></a></div>
        <div class="col-xs-4 col-md-2"><a href="http://www.crisiscommons.org"><img src="/upload/partners/crisiscommons.png" alt="Crisis Commons" class="img-responsive"/></a></div>
        <div class="col-xs-4 col-md-2"><a href="http://www.dotnetrocks.com"><img src="/upload/partners/dotnetrocks.png" alt=".NET Rocks!" class="img-responsive"/></a></div>
        <div class="col-xs-4 col-md-2"><a href="http://www.microsoft.com"><img src="/upload/partners/microsoft.png" alt="Microsoft" class="img-responsive"/></a></div>
    </div>
}

@section scripts {
    <script src="/static/js/jcarousel/jquery.jcarousel.js"></script>
    <script src="/static/js/jcarousel/jquery.jcarousel-autoscroll.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.jcarousel').jcarousel({
                'wrap': 'circular',
                'animation': 2000
            }).jcarouselAutoscroll({
                'interval': 5000
            });
        });
    </script>
}