@model htbox.ViewModels.CMS.Blog

@{
    ViewBag.Title = Model.PageTitle;
    ViewBag.SubTitle = Model.Text;
}

@section Header {
    <link type="application/rss+xml" rel="alternate" title="@Model.PageTitle" href="@Model.Url/rss" />
    <link type="application/atom+xml" rel="alternate" title="@Model.PageTitle" href="@Model.Url/atom" />
}

@foreach (var post in Model.Posts) {
    <div class="blog-post-listing">
        <h3><a href="@post.Url">@post.PostTitle</a></h3>
        @if (post.Published.HasValue) {
            <p class="text-muted">@post.Published.Value.ToLongDateString()</p>
        } else {
            <p>&nbsp;</p>
        }
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                @Html.Raw(post.Text)
            </div>
        </div>
    </div>
}