@{
    Layout = null;
}
<!DOCTYPE html>
<html>
  <head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Custom styles for this template -->
    <link href="/static/css/app/htbox-website.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv/html5shiv.js"></script>
      <script src="/static/js/respond/respond.min.js"></script>
    <![endif]-->
  </head>
    <body id="@CMS.TopNavId()">
        
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/upload/home/ht-text.png" alt="Humanitarian Toolbox" class="img-responsive"/></a>
                </div>

                <div class="nav-collapse collapse pull-right">
                    <ul class="nav navbar-nav">
                        <!--
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/sign-up">Contact</a></li>
                            -->
                        @CMS.SiteNav()
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
      
        @RenderSection("hero", false)

        <div class="container">
            @RenderBody()
      
            <footer>
                <hr>
                <div class="row">
                    <div class="col-lg-2"><h4>In Partnership With:</h4></div>
                    <div class="col-lg-2"><a href="http://www.nethope.org"><img src="/upload/partners/nethope.png" alt="NetHope" class="img-responsive"/></a></div>
                    <div class="col-lg-2"><a href="http://www.gwob.org"><img src="/upload/partners/gwob.png" alt="Geeks Without Borders" class="img-responsive"/></a></div>
                    <div class="col-lg-2"><a href="http://www.crisiscommons.org"><img src="/upload/partners/crisiscommons.png" alt="Crisis Commons" class="img-responsive"/></a></div>
                    <div class="col-lg-2"><a href="http://www.dotnetrocks.com"><img src="/upload/partners/dotnetrocks.png" alt=".NET Rocks!" class="img-responsive"/></a></div>
                    <div class="col-lg-2"><a href="http://www.microsoft.com"><img src="/upload/partners/microsoft.png" alt="Microsoft" class="img-responsive"/></a></div>
                </div>
                <p>@CMS.FooterText()</p>
            </footer>
        </div> <!-- /container -->


        <!-- Bootstrap core JavaScript
            ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/static/js/jquery/jquery.js"></script>
        <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    </body>
</html>

